/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2018, 9:51:38 PM
    Author     : Katarina Djordjevic
*/

body{
    background-image: url(../../resources/images/dentalClinic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}